<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/2f4fa8ef-5559-4588-8aae-dd6c08464dd7/resourceGroups/sp20lamkevinhw4/providers/Microsoft.Web/sites/sp20LamKevinHW6</ResourceId>
    <ResourceGroup>sp20lamkevinhw4</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://sp20lamkevinhw6.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>sp20lamkevinhw6.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sp20LamKevinHW6</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sp20LamKevinHW6</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>