@model IEnumerable<sp20team15finalproject.Models.FlightDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Step 4: Chose Your Departing Flight</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
 
                
            </tr>
        }
    </tbody>
</table>