<h1>Congratulations! Your seat is changed!</h1>


<br />
<br />
<br />
<br />
<br />
<br />
<form asp-action="GoBackHome">
    <div class="form-group">


        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Go Back Home" class="btn btn-danger" />
        </div>
    </div>
</form>