
<h1>Seed Data</h1>

<p>These buttons will seed your data!  Push them to add data to your database!!</p>

<a asp-controller="Seed" asp-action="SeedFlights" class="btn btn-info">Seed Flights</a>
&nbsp;&nbsp;
<a asp-controller="Seed" asp-action="SeedCities" class="btn btn-warning">Seed Cities</a>
&nbsp;&nbsp;
<a asp-controller="Seed" asp-action="SeedEmployees" class="btn btn-warning">Seed Employees</a>
&nbsp;&nbsp;
<a asp-controller="Seed" asp-action="SeedCityDetails" class="btn btn-warning">Seed City Details</a>
&nbsp;&nbsp;