@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> There was an error adding that person as a staff member on the trip.</h1>

<h3>Either you mistyped the email or that person is not authorized to do the job you want them to do (i.e. a pilot can't be a co-pilot).</h3>

<div>
    <a asp-action="Index">Back to List</a>
</div>