@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="text-danger"> @ViewBag.ErrorMessage</div>

    <div class="text-success"> @ViewBag.SuccessMessage</div>



    <a asp-action="Index" class="btn btn-warning">Go Back Home</a>