@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<h1>Report Results:</h1>

@*TODO: show table of existing reports*@


<h4>Total Revenue:</h4>
@ViewBag.TotalRevenue

<h4>Total Seats Sold:</h4>
@ViewBag.TotalSeatsSold

<h4>Total Seats we could have sold:</h4>
@ViewBag.TotalSeatsAvailable